.footer {
  background-color: #0a2850;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  color: #fff;
}

.footer__content {
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 108px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  margin: 0;
}

.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  position: absolute;
  border-radius: 50%;
  top: -128px;
  left: -44px;
  z-index: -1;
}

.footer__social {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.footer__list {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  column-gap: 16px;
}
.footer__list-item {
  display: flex;
  margin-bottom: 16px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 60px;
  padding-left: 80px;
}
