p {
  margin: 0;
}
.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
}
.nav__links {
  display: flex;
  align-content: flex-end;
  margin-right: 80px;
  margin-top: 30px;
  list-style: none;
  column-gap: 20px;
}
.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.header__title {
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}
.header__span-accent {
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}
.header__description {
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
}
.header__image {
  width: 646px;
  height: 568px;
  margin-right: 5px;
  margin-top: 124px;
  position: absolute;
  right: 0;
  z-index: 0;
}
.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto;
  margin-left: 80px;
  padding-bottom: 40px;
}
.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  z-index: 2;
  margin-right: 80px;
}
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-bottom: 215px;
  padding-top: 80px;
}
.recipes__video-item {
  display: flex;
  border: 0;
}

.recipes__iframe {
  border: 0;
  margin-right: 40px;
}
.recipes__video-caption {
  list-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 24px;
  width: 480px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}

.reservation__title {
  margin: auto;
  margin-top: 0;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__fieldset {
  max-width: 385px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  width: 100%;
  padding: 0;
}

.form__label {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label::placeholder {
  color: #838383;
}

.form__input {
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 32px;
  margin-top: 8px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button:hover {
  opacity: 70%;
}
.form__button {
  padding-top: 32px;
  padding-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2f80ed;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.form__label-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 120px;
}
